* {
    margin: 0px;
    padding: 0px;
}
nav {
    background-color: #c5322b;
    padding: 10px 30px;

}

.container {
   
    /* margin: 0 auto;
    width: 94%; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "BalooBhai2_Regular", sans-serif;
    font-weight: bold;
}
.section1 {
    background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.685)), url(./images/gallery-section\ \(1\).webp);
    background-repeat: no-repeat;
    /* clip-path: circle(56% at 48% 0); */
    background-size: cover;
    background-clip: unset;
    padding-top: 200px;
    font-size: 20px;
    height: 40vh;
    overflow: hidden;

}

.section1 h1 {
    font-family: 'Baloo Bhai 2', cursive;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.contant-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    align-items: center;
}

.contant-1 a {
    text-decoration: none;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    color: #ffffff;
    text-transform: capitalize;
}
.down {
    position: relative;
    top: 118px;
}
.section2 img{
    height: 280px;
   width: 300px;
  
}

.responsive{
    margin: 0 auto;
    width: 68%;
    margin-top: 50px;
    display: flex;
  
   
   
}
.section2-col2{
 
 margin: 0 auto;
 width: 68%;
    margin-top: 150px;
    display: flex;
    gap: 30px;
    position: relative;
 
 
}

.section2 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: black;
    font-size: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   

}
.section2 h3{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: red;
    font-size: 30px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   

}
.section2{
    padding-top: 50px;
    padding-bottom: 80px;
}
.section2-col2 h4{
    
    color: white;
  text-align: center;
  position: relative;
  top: 100px;
    font-size: 34px;
    font-family: 'Baloo Bhai 2', cursive;
    text-transform: capitalize;
    
}
.se-box1{
background:linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.534)), url(./images/apne_outlets.jpg);
height: 300px;
width: 300px;
background-size: cover;

}
.se-box2{
 background:linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.534)), url(./images/apne_customers.jpg);
 height: 300px;
width: 300px;
background-size: cover;
}
.se-box3{
 background:linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.534)), url(./images/apne_events.jpg);
 height: 300px;
width: 300px;
background-size: cover;
}
.se-box4{
 background:linear-gradient(rgba(0, 0, 0, 0.514),rgba(0, 0, 0, 0.534)), url(./images/apne_videos.jpg);
 height: 300px;
width: 300px;
background-size: cover;
}
footer{
    background-image: url(./images/1600x810\ doodle\ footer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 80px;
}
.footer1{
    display: flex;
    justify-content: space-around;
    /* gap: 300px; */
    align-items: center;
}
.footer1 span{
    color: white;
    font-weight: bolder; font-size: 30px;
    text-transform: capitalize;
    font-family: "BalooBhai2_Regular", sans-serif;
}
.social-media{
    display: flex;
    gap: 40px;
}
footer .logo{
    width: 30%;
   
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
   
}
.footer2{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer2 a{
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.footer-cotent{
    color: #959595;
    font-size: 17px;
    line-height: 31px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: "BalooBhai2_Regular", sans-serif;
}
.footer-cotent a {
    color: white    ;
    text-decoration: none;
    
}
footer .hr{
   border-top: dotted 1px white;
   margin-top: 40px;
   margin-bottom: 40px;

}
.bootom-cotent{
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
   text-align: center;
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.foo-ic{
    display: flex;
    gap: 20px;
    align-items:center;
}