* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #c5322b;
    padding: 10px 30px;

}

.container {
   
    /* margin: 0 auto;
    width: 94%; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "BalooBhai2_Regular", sans-serif;
    font-weight: bold;
}
/* .slick-next{
    padding: 40px;
    background-color: black;
} */

/* .slick-prev{

    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: black;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
} */
/* .slick-next{

    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    right: 200px;
    background-color: black;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: 0;
    background: 0 0;
} */
.slick-next{
    padding: 50px;
    background-color: black;
    margin-right: 100px;
}
.slick-prev{
    background-color: black;
    position: absolute;
 left: 200px;
   
}
.section2{
    padding-top: 50px;
    padding-bottom: 100px;
}
.section2 h2{
    font-family: 'Baloo Bhai 2', cursive;
    color: #d20d20;
    font-size: 48px;
    text-align: center;
    margin-bottom: 20px;
}
.section2 p{
    font-family: 'Baloo Bhai 2', sans-serif;
    color: #737373;
    font-size: 17px;
    text-align: center;
}
.section2 button{
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bolder;
    padding: 20px 25px;
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 40px;
 
   
}
.s2-btn{
    margin: 0 auto;
    width: 10%;
}
.section3{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section4 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: #d20d20;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: bolder;
  
}
.section4 p{
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
    font-size: 20px;
 line-height: 30px;

}
.section4-row{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.section4{
  
    padding-top: 50px;
    padding-bottom: 50px;
   
}
.se5-img{
  
    content: "";
    /* height: 100%;
    width: 100%; */
   
    background-color: #d0202d;
    border-radius: 0 0 50% 50%;
    height: 220px;
    margin-bottom: 1
    0px;
  
}
.se5-img img{

margin-bottom: 40px;
    height: 170px;
}
.section5-row{
    display: flex;
    justify-content: center;
  gap: 40px;
  text-align: center;
  
   
}
.section5-col{
    border: dotted 3px orange;
    width: 270px;
    position: relative;
   
}
.section5-col:hover{
    position: relative;
    top: -10px;
    transition: all;
    transition-duration: 4s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
    background-color: antiquewhite;
}

.section5 button{
    background-color: #1d1d1d;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    position: absolute;
    top: 190px;
  left: 60px;
  margin-bottom: 200px;
   
    border-radius: 20px;
}
.s5-content{
    margin-top: 12px;
}
.section5 h3{
   font-weight: bolder;
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 20px;
  
   
}
.section5 p{
    font-weight: bolder;
     font-family: 'Baloo Bhai 2', sans-serif;
  color: red;
  font-weight: lighter;
  
  font-size: 14px;
line-height: 20px;
 }
 .section5-cotent{
    padding: 20px;
 }
 .frame{
    margin: 0 auto;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 20px;

}
.section5 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: #d20d20;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: bolder;
    text-align: center;
  
}
.section6  button{
    background-color: red;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: bolder;
    padding: 15px 25px;
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
 
   
}
.section6 p{
    font-family: 'Baloo Bhai 2', sans-serif;
    color: #737373;
    font-size: 17px;
   text-align: center;
   line-height: 20px;
}


.section6 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: #d20d20;
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    color: #507B00;
    margin-top: 60px;
    margin-bottom: 40px;
  
}
.section6-row{
    display: flex;
    justify-content: center;
  gap: 40px;
  text-align: center;
  
   
}
.section6 h3{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 22px;
    margin-bottom: 40px;
}
.section6 span{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 17px;
    font-weight: bolder
    ;
}
.section6{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section7{
    padding-top: 50px;
    padding-bottom: 50px;
}
.section7 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: #d20d20;
    font-size: 48px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   
   
}
.section7 h4{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: #d20d20;
    font-size: 22px;
  
    font-weight: bolder;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   }
   .section7 p{
    font-family: 'Baloo Bhai 2', sans-serif;
    color: #737373;
    font-size: 17px;
   text-align: center;
   line-height: 25px;
   }
   .section7-row{
    display: flex;
    justify-content: center;
  gap: 80px;
  text-align: center;
  margin-top: 50px;
  
   
}
.section7-row img{
     height: 450px;
}
.section8{
    background-color: #c5322b;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
}
.section8 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
 
    font-size: 48px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   
   
}
.section8 h3{
    font-family: 'Baloo Bhai 2', cursive;
   
 
    font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   
   
}
.section8 h4{
    font-family: 'Baloo Bhai 2', cursive;
   
 
    font-size: 25px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    padding-left: 200px;
    font-family: 'Baloo Bhai 2', cursive;
   
   
}
.section8 p{
    font-family: 'Baloo Bhai 2', sans-serif;
   color: white;
    font-size: 17px;
 padding-left: 200px;
   line-height: 20px;
}
footer{
    background-image: url(./images/1600x810\ doodle\ footer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-top: 80px;
}
.footer1{
    display: flex;
    justify-content: space-around;
    /* gap: 300px; */
    align-items: center;
}
.footer1 span{
    color: white;
    font-weight: bolder; font-size: 30px;
    text-transform: capitalize;
    font-family: "BalooBhai2_Regular", sans-serif;
}
.social-media{
    display: flex;
    gap: 40px;
}
footer .logo{
    width: 30%;
   
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
   
}
.footer2{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer2 a{
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.footer-cotent{
    color: #959595;
    font-size: 17px;
    line-height: 31px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: "BalooBhai2_Regular", sans-serif;
}
.footer-cotent a {
    color: white    ;
    text-decoration: none;
    
}
footer .hr{
   border-top: dotted 1px white;
   margin-top: 40px;
   margin-bottom: 40px;

}
.bootom-cotent{
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
   text-align: center;
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.foo-ic{
    display: flex;
    gap: 20px;
    align-items:center;
}