* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: #c5322b;
    padding: 10px 30px;

}

.container {
   
    /* margin: 0 auto;
    width: 94%; */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 15px;
    font-family: "BalooBhai2_Regular", sans-serif;
    font-weight: bold;
}
.section1 {
    background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.685)), url(./images/outlets-section.webp);
    background-repeat: no-repeat;
    /* clip-path: circle(56% at 48% 0); */
    background-size: cover;
    background-clip: unset;
    padding-top: 200px;
    font-size: 20px;
    height: 40vh;
    overflow: hidden;

}

.section1 h1 {
    font-family: 'Baloo Bhai 2', cursive;
    color: #ffffff;
    text-align: center;
    padding-bottom: 20px;
    text-transform: capitalize;
}
.contant-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-decoration: none;
    align-items: center;
}

.contant-1 a {
    text-decoration: none;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
    color: #ffffff;
    text-transform: capitalize;
}
.down {
    position: relative;
    top: 118px;
}
.section2 h2{
    font-family: 'Baloo Bhai 2', cursive;
   
    color: black;
    font-size: 48px;
  margin-bottom: 20px;
  margin-top: 10px;
    font-weight: bolder;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
   
   
}
.s2-flex{
    display: flex;
    justify-content: space-between;text-align: center;
  
}
.container{
    margin: 0 auto;
    width: 60%;
}
.section2 input{
    padding: 10px 20px;
    width: 520px;
    border: solid 1px rgba(128, 128, 128, 0.486);
    outline: none;
    font-size: 25px;
}
.section2 input::placeholder{
    font-size: 25px;
    text-transform: capitalize;
}
.section2 select{
    padding: 10px 20px;
    border: solid 1px rgba(128, 128, 128, 0.486) ;
    outline: none;
    width: 520px;
    font-size: 25px;
}
.s2-red{
    background-color: #d20d20;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.s2-flex h1{
    font-family: 'Baloo Bhai 2', cursive;
    color:  white;
    font-weight: bolder;
    font-size: 27px;
    text-align: center;
    margin-bottom: 5px;
   
}
.s2-flex h3{
    font-family: 'Baloo Bhai 2', cursive;
    color:  black;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
   
}
.s2-flex h6{
    font-family: 'Baloo Bhai 2', cursive;
    color:  black;
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}
.s2-flex p{
    font-family: 'Baloo Bhai 2', sans-serif;
    color:  #737373;
   line-height: 25px;
    font-size: 15px;
    text-align: center;
}
.s2-flex button{
    background-color: #d20d20;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    text-transform: capitalize;
}
.s2-white{
    margin-bottom: 50px;
    padding: 0px 20px;
}
.s2-icon p{
    margin-top: 10px;

}
.s2-box{
    border: solid 1px rgba(128, 128, 128, 0.493);
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-bottom: 30px;
}
footer{
    background-image: url(./images/1600x810\ doodle\ footer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer1{
    display: flex;
    justify-content: space-around;
    /* gap: 300px; */
    align-items: center;
}
.footer1 span{
    color: white;
    font-weight: bolder; font-size: 30px;
    text-transform: capitalize;
    font-family: "BalooBhai2_Regular", sans-serif;
}
.social-media{
    display: flex;
    gap: 40px;
}
footer .logo{
    width: 30%;
   
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
   
}
.footer2{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer2 a{
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.footer-cotent{
    color: #959595;
    font-size: 17px;
    line-height: 31px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: "BalooBhai2_Regular", sans-serif;
}
.footer-cotent a {
    color: white    ;
    text-decoration: none;
    
}
footer .hr{
   border-top: dotted 1px white;
   margin-top: 40px;
   margin-bottom: 40px;

}
.bootom-cotent{
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
   text-align: center;
    text-decoration: none;
    color: white;
    font-family: "BalooBhai2_Regular", sans-serif;
    text-transform: capitalize;
    font-size: 15px;
}
.foo-ic{
    display: flex;
    gap: 20px;
    align-items:center;
}