*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 180px;
    padding: 10px; 
}
.header{
    background-color:red ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-content: center;
}
.header a{
    text-decoration: none;
    padding-top: 20px;
}
.MENU{
    width: 100%;
    position: absolute;
    text-align: center;
}
