* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
} 

.main {
    padding: 20px;
    text-align: center;
    background-color: aqua;
}
.logo{
    width: 40px;
    padding-left: 10px;
}
.section1{
    background-color: rgba(0, 0, 0, 0.342);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-decoration: none;
    
}
.section1 a {
    text-decoration: none ;
    padding-top: 20px;
}

.section-2 {
    position: relative;
   
}
.man{
    position: absolute;
    color: #a08261;
    top: 50%;
    text-transform: none;
    margin-bottom: 0;
    left: 0;
    right: 0;
    width: 65%;
    margin: 0 auto;
    background: #333333c4;
    padding: 10px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    text-align: center;
    font-size: 40px;
}


.section3{
     position: absolute;
     height: 100vh;
    display: flex;
   
}
.we img{
    width: 80%;
    height: 800px;
  
}
.vd{
    padding: 50px;
    
}
.content{
    position: absolute;
    right:-55%;
    font-size: medium;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.432);
    height: 84%;
}
.text{
    display: flex;
    margin-top: 45%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.384);
}
.t1{
    padding: 10px;
}
.p2{
    padding: 10px;
}
.room{
    width: 800px;
}


